<div class="ui five doubling inverted green cards">
  
  <!-- Title Card -->
  <div class="card">
    <h3></h3>
    <h3> <i class="middle floated inverted huge map marker alternate icon"></i></h3>
    <h3 class="ui centre aligned middle aligned yellow header">
      {{station.title}}
    </h3>
    <h3 class="ui centre aligned middle aligned yellow header">
      Lat: {{station.latitude}}°
    </h3>
    <h3 class="ui centre aligned middle aligned yellow header">
      Long: {{station.longitude}}°
    </h3>
  </div>
  
  <!-- Code Card -->
  <div class="card">
    <h3></h3>
    <h3>
      <i class="middle floated huge yellow {{weatherIcon}} icon"></i>
    </h3>
    <h3 class="ui header centre aligned middle aligned yellow header">
     Weather: <br><br>
      {{doWeather}}
    </h3>
  </div>
  
  <!--Temp Card -->
  <div class="card">
    <h3>
    </h3>
    <h3>
     <i class="middle floated huge red {{hot}} icon"></i> 
    </h3>
    <h3 class="ui header centre aligned middle aligned yellow header">
    Temperature:
    {{lastReading.temp}} ℃ <br><br>
    {{tempInFarenheit}} ℉ 
    </h3>
    <h3 class="ui header centre aligned middle aligned yellow header">
      Min:{{minTemp.temp}}<br><br> 
      Max:{{maxTemp.temp}}<br><br>
      Trend:{{Trend}} 
    </h3>
    <br><br>
  </div>
  
  <!-- Wind Card -->
  <div class="card">
    <h3>
    </h3>
    <h3>
      <i class="middle floated huge grey wind icon"></i>
    </h3>
    <h3 class="ui left floated yellow header">
    Wind Speed: <br><br>
    {{beaufort}} bft <br><br> 
    {{lastReading.windSpeed}} km/h <br><br>
      Feels like: {{windChill}} ℃ <br><br>
    Wind Dir: {{windCompass}}<br><br>
      Min:{{minWindSpeed.windSpeed}}<br><br> 
      Max:{{maxWindSpeed.windSpeed}}
    </div>
  
  <!-- Pressure Card -->
  <div class="card">
    <h3></h3>
    <h3>
       <i class="middle floated huge orange arrows alternate icon"></i>
    </h3>
    <h3 class="ui header centre aligned middle aligned yellow header">
      Pressure: <br><br>
    {{lastReading.pressure}} hPa<br><br>
      Min:{{minPressure.pressure}}<br><br> 
      Max:{{maxPressure.pressure}}
    
  </div>
 
</div>
    

